/* Mobile Styles */
@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 28px;
        margin-top: 20px;
    }
    textarea {
        width: 90%;
        font-size: 14px;
        padding: 10px;
        height: 100px;
    }
    button {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

/* Desktop Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    font-size: 18px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 0;
    font-size: 36px;
}

label {
    display: block;
    margin-top: 20px;
}

textarea {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
    height: 200px; /* default height */
    resize: vertical;
}

textarea:focus {
    outline: none;
    box-shadow: 1px 1px 1px #ccc, 0 0 5px #aaa;
    border: 1px solid #aaa;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0;
}

#syllableCount {
    text-align: center;
    font-size: 48px;
    margin-top: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}
